<html>
<body>
<h1>Edidanto Restaurante</h1>
<%= error_messages_for :restaurante %>

	<% form_for :restaurante, :url=> { :action=>"update", :id=>	@restaurante} do |f| %>
		Nome: <%= f.text_field :nome %><br/>
		Endereco: <%= f.text_field :endereco %><br/>
		Especialidade: <%= f.text_field :especialidade %><br/>
	<%= submit_tag "Salvar" %>
	<% end %>


<%= link_to "Voltar", { :action=>"index"} %>

</body>
</html>
