<html>
<body>
<center>
<h1>Exibindo Restaurante</h1>

<p>
	<b>Nome</b>
		<%=h @restaurante.nome %>
</p>

<p>
	<b>Endereco</b>
		<%=h @restaurante.endereco %>
</p>

<p>
	<b>Especialidade</b>
		<%=h @restaurante.especialidade %>
</p>

<b>Nota media: </b><%=h @restaurante.qualificacoes.average(:nota) %><br/>
<b>Qualificacoes: </b><%=h @restaurante.qualificacoes.count %><br/>
<b>Preco medio: </b><%=h @restaurante.qualificacoes.average(:valor_gasto) %><br/>

<%= link_to 'Qualificar este restaurante', :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>

<%= link_to "Edit", { :action=>"edit", :id=> @restaurante } %>
<%= link_to "Back", { :action=>"index" } %>

<% unless @restaurante.comentarios.empty? %>
	<%= comentarios @restaurante %>
<% end %>
<%= novo_comentario(@restaurante) %> 		
</center>
</body>
</html>