<p>
  <b>Cliente:</b>
  <%=h @qualificacao.cliente.nome %>
</p>

<p>
  <b>Restaurante:</b>
  <%=h @qualificacao.restaurante.nome %>
</p>

<p>
  <b>Nota:</b>
  <%=h @qualificacao.nota %>
</p>

<p>
  <b>Valor gasto:</b>
  <%=h valor_formatado(@qualificacao.valor_gasto) %>
</p>


<%= link_to 'Alterar', edit_qualificacao_path(@qualificacao) %> |
<%= link_to 'Voltar', qualificacoes_path %>

<% unless @qualificacao.comentarios.empty? %>
	<%= comentarios @qualificacao %>
<% end %>

<%= novo_comentario(@qualificacao) %>